---
import { ClientRouter } from "astro:transitions";
import { Toaster } from "sonner";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro with Sonner</title>

		<ClientRouter />
	</head>
	<body style={{
		display: "flex",
		flexDirection: "column",
	}}>
		<slot />

		<Toaster client:load transition:persist="sonner-toaster" />
	</body>
</html>
